<html>
  <head>
    <title>testpost</title>
    <meta content="">
    <style></style>
  </head>

  <body>
    method    &nbsp; {{ method }}   <br/>
    path_info &nbsp; {{ path_info }}<br/>
    dict      &nbsp; {{ req_dict }} <br/>
    id        &nbsp; {{ id }}       <br/>
    key       &nbsp; {{ key }}      <br/>
  </body>
</html>
